# The port that the server will listen on
PORT=3000
# The base URL of the server
BASE_URL=http://localhost:3000
# The connection string for PostgreSQL without password
DB_URL=postgresql://admin@localhost:20001/swgss-army-knife
# The URL of the Redis server to connect to
REDIS_URL=redis://localhost:6379
