# The port that the server will listen on
PORT=3000
# The base URL of the server
BASE_URL=http://localhost:3000
# The host of the PostgreSQL database to connect to
PG_DB_HOST=localhost
# The port for connection to the PostgreSQL database
PG_DB_PORT=5432
# The URL of the Redis server to connect to
REDIS_URL=redis://localhost:6379
